{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    The experiment is over!
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
        <div class="card-body">
            <h2>Thank you for your participation</h2>
            <p>You played as the {{ player.role }} and
                {% if player.role == player_removed %}
                    you were
                {% else %}
                    the {{ player_removed }} was
                {% endif %}
                removed from the game, since
                {% if player.role == player_removed %}
                    you have
                {% else %}
                    s/he has
                {% endif %}

                not responded on time for more than {{ Constants.num_timeouts_remove }} times.</p>

            <p>In this experiment you gained:
                {% if player.role == player_removed %}
                    {{ removed_player_total_payoff }}
                {% else %}
                    {{ player_total_payoff }}
                {% endif %}
            </p>
            <h4>Thank you and good luck!</h4>
        </div>
    </div>

    {% next_button %}

{% endblock %}
