otree[mturk]==3.3
transformers
# pandas>=0.20.3
pandas == 1.2.3
-f https://download.pytorch.org/whl/torch_stable.html
joblib==1.0.1
torch==1.7.0+cpu
#==1.8.1+cpu
numpy>=1.16.5
xlrd==1.1.0
scikit-learn
boto3
# torch
# joblib
# pandas
# numpy==1.15.4
# transformers
# sklearn
# matplotlib
# xlrd==1.1.0
