otree[mturk]==2.2.4
#2.3
transformers
django-radiogrid>=1.0.4
pandas>=0.20.3
-f https://download.pytorch.org/whl/torch_stable.html
joblib
torch==1.7.0+cpu
#==1.8.1+cpu
numpy>=1.16.5
xlrd==1.1.0
scikit-learn
boto3
# otree[mturk]<=2.3
#django-radiogrid>=1.0.4
# pandas>=0.20.3
# torch
# joblib
# pandas
# numpy==1.15.4
# transformers
# sklearn
# matplotlib
# xlrd==1.1.0
