{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    The experiment is over!
{% endblock %}

{% block content %}

    <div class="card bg-light instructions">
        <div class="card-body">
            <h2>Thank you for your participation</h2>
            <p>You played as the {{ player.role }} for {{ Constants.num_rounds }} trials.</p>
            <p>In this experiment you gained: {{ player_total_payoff }},
                ${{ participation_fee }} of them for your participation, {{ player_bonus }} is your bonus,
                and the rest {{ fee_for_waiting }} is for waiting to your partner.</p>
            <h4>Thank you and good luck!</h4>
        </div>
    </div>

    <div>
        <button class="btn btn-primary btn-large">
            Submit the HIT
        </button>
    </div>
{% endblock %}
