{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
body {
    font-family: Arial;
    color: black;
}

.left {
    display: inline-block;
    position: absolute;
    left: 20px;
    height: 50px;
    width: 40%;
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    color: white;

}

.right {
    display: inline-block;
    position: absolute;
    right: 20px;
    height: 50px;
    width: 40%;
    background-color: blue;
    border: 1px solid black;
    text-align: center;
    color: white;

}

</style>
{% endblock %}


{% block title %}
    Decision Maker Choice for round {{ round_number }}
{% endblock %}

{% block content %}

    {% if sender_timeout %}
    <p style="text-align: center"><b>
        The expert did not response in time. The default evaluation of this hotel is:</b></p>
    {% else %}
    <p style="text-align: center"><b>The expert chose the following
        {% if condition %}
            <u>score</u>
        {% else %}
            <u>review</u>
        {% endif %}
    to describe the hotel</b></p>
    {% endif %}

    <div class="card bg-light">
        <div class="card-body" style="width: 100%">
            <p>{{ score_all_review }}</p>
        <!--{% if condition %}-->
            <!--<p>{{ score_all_review }}</p>-->
        <!--{% else %}-->
            <!--<p><b>Positive: </b>{{ score_positive_review }}</p>-->
            <!--<p><b>Negative: </b>{{ score_negative_review }}</p>-->
        <!--{% endif %}-->
        </div>
    </div>


    <p style="text-align: center"><b>Please choose 'Hotel' or 'Stay at home'</b></p>


    <div class="card bg-light">
        <div class="card-body" style="width: 60%; height: 100px">
            <button name="receiver_choice" value="False" class="left btn btn-primary btn-large">
                    <h5>Hotel</h5>
            </button>
            <button name="receiver_choice" value="True" class="right btn btn-primary btn-large">
                <h5>Stay at home</h5>
        </div>
    </div>

{% endblock %}