{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
body {
    font-family: Arial;
    color: black;
}

div {
  word-wrap: normal;
}

button {
    word-wrap: normal;
}

table {
  border-collapse: collapse;
}

table, td, th, tr, thead {
  border: 1px solid black;
}

</style>
{% endblock %}


{% block title %}
    Expert Choice for round {{ round_number }}
{% endblock %}

{% block content %}

<p style="text-align: center"><b>The reviews and their scores below were written about a specific hotel</b></p>
    <p style="text-align: center"><b>The * next to one of the scores indicates the actual benefit from this hotel,
            and the decision maker's payoff is this score minus 8.</b></p>
    <p style="text-align: center"><b>Please select one of the following
        {% if condition %}
            <u>scores</u> to describe the hotel</b></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Score</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for index in form.sender_answer_index %}
                        <tr>
                            <td>{{ index }}</td>
                            {% if forloop.counter0 == 0 %}
                                <td>{{ scores.0 }}</td>
                                <td>{{ negative_positive_reviews.0 }}</td>
                            {% elif forloop.counter0 == 1 %}
                                <td>{{ scores.1 }}</td>
                                <td>{{ negative_positive_reviews.1 }}</td>
                            {% elif forloop.counter0 == 2 %}
                                <td>{{ scores.2 }}</td>
                                <td>{{ negative_positive_reviews.2 }}</td>
                            {% elif forloop.counter0 == 3 %}
                                <td>{{ scores.3 }}</td>
                                <td>{{ negative_positive_reviews.3 }}</td>
                            {% elif forloop.counter0 == 4 %}
                                <td>{{ scores.4 }}</td>
                                <td>{{ negative_positive_reviews.4 }}</td>
                            {% elif forloop.counter0 == 5 %}
                                <td>{{ scores.5 }}</td>
                                <td>{{ negative_positive_reviews.5 }}</td>
                            {% elif forloop.counter0 == 6 %}
                                <td>{{ scores.6 }}</td>
                                <td>{{ negative_positive_reviews.6 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
        {% else %}
            <u>reviews</u> to describe the hotel</b></p>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Review</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for index in form.sender_answer_index %}
                        <tr>
                            <td>{{ index }}</td>
                            {% if forloop.counter0 == 0 %}
                            <td>{{ negative_positive_reviews.0 }}</td>
                            <td>{{ scores.0 }}</td>
                            {% elif forloop.counter0 == 1 %}
                            <td>{{ negative_positive_reviews.1 }}</td>
                            <td>{{ scores.1 }}</td>
                            {% elif forloop.counter0 == 2 %}
                            <td>{{ negative_positive_reviews.2 }}</td>
                            <td>{{ scores.2 }}</td>
                            {% elif forloop.counter0 == 3 %}
                            <td>{{ negative_positive_reviews.3 }}</td>
                            <td>{{ scores.3 }}</td>
                            {% elif forloop.counter0 == 4 %}
                            <td>{{ negative_positive_reviews.4 }}</td>
                            <td>{{ scores.4 }}</td>
                            {% elif forloop.counter0 == 5 %}
                            <td>{{ negative_positive_reviews.5 }}</td>
                            <td>{{ scores.5 }}</td>
                            {% elif forloop.counter0 == 6 %}
                            <td>{{ negative_positive_reviews.6 }}</td>
                            <td>{{ scores.6 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    <p><b>The * above indicates the actual benefit from this hotel, and the decision maker's payoff is this score minus 8.</b></p>
    {% next_button %}
{% endblock %}
