{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
blockquote {
  direction: rtl;
}
</style>
{% endblock %}

{% block title %}
<h1 class="rtl" dir="rtl" align="right">
        ברוכים הבאים לניסוי!
</h1>

{% endblock %}

{% block content %}
<div class="card bg-light instructions" dir="rtl" align="right">
    <div class="card-body" dir="rtl" align="right">
    <h3 class="rtl" align="right">
        הנחיות
    </h3>
    <p class="rtl" dir="rtl" align="right">
        הוזמנת להשתתף בניסוי.
        הניסוי הוא חלק ממחקר שנערך בפקולטה להנדסת תעשייה וניהול בטכניון, חיפה.
    </p>
    <p class="rtl" dir="rtl" align="right">
        צוותת באופן רנדומלי ואנונימי לעוד משתתף/ת (שיכול/ה להיות רובוט).
        נבחרת באופן רנדומלי להיות מקבל/ת ההחלטות, כאשר השותף/ה שלך נבחר/ה להיות המומחה.
    </p>
    <p class="rtl" dir="rtl" align="right">
        הניסוי מורכב מ-{{ Constants.num_rounds }} סיבובים, שישוחקו אחד אחרי השני.
        את כל הסיבובים תשחק/י עם אותו המומחה (השותף/ה שלך) ולכל אחד מכם יהיה את אותו התפקיד לאורך כל הניסוי.
    </p>
    <p class="rtl" dir="rtl" align="right">
        בכל סיבוב, תתבקש/י לבחור בין 'פעולה' (שמספקת רווח או הפסד) לבין ה'סטאטוס קוו'.
        באופן פורמלי, שתי האפשרויות בכל סיבוב הן:

        <ul class="rtl" dir="rtl">
            <li class="rtl" dir="rtl">
                'פעולה': רווח של מספר מסוים של נקודות, אשר משתנה בכל סיבוב, אם מאורע כלשהו התרחש;
                או הפסד של מספר אחר של נקודות, גם הוא משתנה בכל סיבוב, אם המאורע לא התרחש.

            <li class="rtl" dir="rtl">
                'סטאטוס קוו': קבלת 0 נקודות בוודאות.
            </li>

        </ul>

        הבחירה בכל סיבוב תעשה על ידי לחיצה על אחד הכפתורים: 'פעולה' או 'סטאטוס קוו'.
    </p>
    <p class="rtl" dir="rtl" align="right">
        הניקוד שלך בכל סיבוב, יהיה לפי התוצאה של הבחירה שלך.
        המומחה (השותף/ה שלך), ירוויח נקודה אחת אם תבחר/י ב'פעולה' ואפס נקודות אם תבחר/י ב'סטאטוס קוו'.
    </p>
    <h5 class="rtl" dir="rtl" align="right">
        המטרה של כל אחד מכם היא למקסם את הניקוד האישי שלו במהלך הסיבובים. צבירה של יותר נקודות, תגדיל את סיכוייך לזכות בבונוס.
    </h5>

    <p class="rtl" dir="rtl" align="right">
        לך לא יהיה מידע קודם על ההסתברות שהמאורע בכל סיבוב יתרחש.
        למומחה יהיה מידע כלשהו, והוא יעביר לך את ההערכה שלו לגבי ההסתברות הזאת.
    </p>
    <p class="rtl" dir="rtl" align="right">
        תצטרך/י להיות מהיר/ה!
        יהיו לך {{ Constants.seconds_wait_first_rounds }} שניות להגיב בחמשת הסיבובים הראשונים,
        ו-{{ Constants.seconds_wait }} שניות בשאר הסיבובים.

        אם לא תענה/י בזמן, אחת מהאפשרויות תיבחר באופן רנדומלי.
    </p>
    <h5 class="rtl" dir="rtl" align="right">סיכונים והטבות:</h5>
        <p class="rtl" dir="rtl" align="right">
            אין סיכונים בניסוי. ההטבה שלך תהיה לתרום לפרויקט מחקרי.
        </p>


    <h5 class="rtl" dir="rtl" align="right">השתתפות התנדבותית והזכות לעזוב:</h5>
        <p class="rtl" dir="rtl" align="right">
            ההשתתפות בניסוי היא התנדבותית, תוכל/י לעזוב את הניסוי בכל שלב על ידי סגירת החלון.
        </p>

    <h5 class="rtl" dir="rtl" align="right">פרטי התקשרות:</h5>
        <p class="rtl" dir="rtl" align="right">
            אם יש לך איזשהן שאלות לגבי המחקר, תוכל/י ליצור קשר עם רעות אפל בכתובת המייל: reutapel@campus.technion.ac.il.
        </p>

        <h5 class="rtl" dir="rtl" align="right">תהנו!</h5>

    </div>
</div>

    <h5 class="rtl" dir="rtl" align="right">
            אישור השתתפות
    </h5>
        <p class="rtl" dir="rtl" align="right">
            על ידי לחיצה על הכפתור "אני מסכים", את/ה מסכים/ה מרצונך להשתתף בניסוי, וכי את/ה מבין/ה את המידע בדף זה.
        </p>
    <div class="rtl" dir="rtl" align="right">
        <button class="btn btn-primary btn-large" name="receiver_choice" value="True">אני מסכים, בוא נתחיל!</button>
    </div>


{% endblock %}