{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
.otree-timer {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">
        <h5>Please wait for your partner to provide his answer!</h5>
        <button type="button" class="btn btn-success" id="start">Click and wait for your partner to provide his answer!</button>
    </div>
</div>

    {{ formfields }}
    {{ next_button }}
{% endblock %}


{% block scripts %}
    <script>
        let start_button = document.getElementById('start');
        let next_button = document.getElementsByClassName('otree-btn-next')[0];

        let interval_sec = 1; // seconds between result checks
        let interval_id; // reference to the interval timer

        // hide the next button for now
        next_button.style.display = 'none';

        // when the button is clicked, send a message to otree to start the background task
        // then start checking for a result in regular intervals.
        start_button.addEventListener('click', function(e) {
            start_button.style.display = 'none';
            liveSend({message: 'start'})

            interval_id = setInterval(function() {
                liveSend({message: 'get_result'})
                console.log('checking for a result...')
            }, interval_sec * 200);
        });

        // handle data coming from oTree
        function liveRecv(data) {
            if (data['message'] === 'action') {
                console.log('got a action, stop checking')
                clearInterval(interval_id);
                next_button.style.display = 'block';
            }
        }

    </script>
{% endblock %}
