{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
.otree-timer {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">
        <h5>Please wait for your partner to provide his answer!</h5>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script>
        let form = document.getElementById('form');
        let interval_sec = 1; // seconds between result checks
        let interval_id = setInterval(function() {
            liveSend({message: 'get_result'})
            console.log('checking for a result...')
        }, interval_sec * 1000);

        // handle data coming from oTree
        function liveRecv(data) {
            if (data['message'] === 'calculation_done') {
                console.log('calculation done, stop checking')
                clearInterval(interval_id);
                // advance to next page
                form.submit()
            }
        }

    </script>
{% endblock %}
