{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Welcome to the experiment!
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        You are invited to participate in an experiment, which is part of a research conducted in the
        Industrial Engineering and Management Faculty of the Technion, Haifa.
    </p>

    <p>
        You have been randomly and anonymously paired with another participant (that can either be human or a robot).
        You were randomly selected to be the <b><u>Decision Maker</u></b>, while your partner is the <b><u>Expert</u></b>.
    </p>

    <p>
        The experiment consists of {{ Constants.num_rounds }} trials.
        All trials will be played with the same partner. You will not switch roles during the whole experiment.
    </p>

    <p>
        In each trial, you will be asked to choose one of 2 lotteries: the ‘Known’ and the ‘Unknown’.
        Both provide a gain or a loss.
    </p>
    <p>
        You will get <b>all the information</b> about the ‘Known’ lottery.
    </p>
    <p>
        You will get <b>no prior information</b> about the <b>probability to win</b> the ‘Unknown’ lottery.
        The expert will have some information and will give you an estimate of this probability.
    </p>

    <p>
        In each trial, the expected payoffs of the ‘known’ lottery will be 0
        (that is, on average, the payoff from 'Known' is 0).
    </p>

    <h5> Compensation: </h5>
        <p>
            Your payoff in each trial, is the outcome of your chosen lottery.
            <b>The expert will gain 1 point if you choose 'Unknown', and 0 otherwise.</b>
        </p>
        <p>
            You will get <b>{{ participation_fee }}</b> for your participation.
        </p>
        <p>
            Your goal is to maximize your earnings.
        </p>
        <p>
            You will get {{ initial_points_dc }} points at the beginning of the experiment.
        </p>
        <p>
            At the end of the experiment, the accumulated points will set your probability
            to get a bonus of ${{ Constants.bonus }}
            (the probability of a bonus increases with the accumulated number of points).
        </p>

    <h5> Deadline: </h5>
        <p>
            You will have {{ Constants.seconds_wait_first_rounds }}
            seconds to respond in the first {{ Constants.num_rounds_long_wait }} trials,
            and {{ Constants.seconds_wait }} seconds in the following trials.

            If you will not meet these deadlines, one of the options will be chosen randomly.
        </p>

    <h5>Risks and benefits:</h5>
        <p>
            There is no risk. Your benefit is contributing to a research project.
        </p>


    <h5>Voluntary participation and right to withdraw:</h5>
        <p>
            Participation in this study is voluntary, and you can stop at any time without any penalty.
            To stop, click on the “Return HIT” button, or close your browser window.
        </p>

    <h5> Contact information: </h5>
        <p>
            If you have any concerns or questions about this research,
            you may contact: Reut Apel at reutapel@campus.technion.ac.il.
        </p>

        <h5>Have Fun!</h5>

    </div>
</div>

    <h5>
            Clicking accept
    </h5>
        <p>
           By clicking on the “I agree” button, you indicate that you voluntarily agree to participate in this experiment
            and that you understand the information in this form.
        </p>
    <div>
        <button class="btn btn-primary btn-large" name="receiver_choice" value="True">I agree! Let's start!</button>
    </div>


{% endblock %}