{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Welcome to the experiment!
{% endblock %}

{% block content %}
<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instructions
    </h3>
    <p>
        You are invited to participate in an experiment.
        The experiment is part of a research conducted in the Industrial Engineering and Management Faculty of the Technion, Haifa.
    </p>
    <p>
        You have been randomly and anonymously paired with another participant.
        You were randomly selected to be the {{ player.role }}, while your partner is the {{ other_role }}.
    </p>
    <p>
        The experiment consists of {{ Constants.num_rounds }} trials, played one after the other.
        All trials will be played with the same partner and each of you will have the same role during the whole experiment.
    </p>
    <p>
        In each trial,
        {% if player.role == 'Expert' %}
            the {{ other_role }}
        {% else %}
            you
        {% endif %}

        will be asked to choose between an action (that provides a gain or a loss), and the status quo.
        Formally the two options in trial t are:

        <ul>
            <li>‘Action’: Gain of G<sub>t</sub> if event E<sub>t</sub> occurs; loss L<sub>t</sub> otherwise.</li>
            <li>'Status quo': Payoff 0 with certainty.</li>
        </ul>
        The choice will be made by clicking on one of the buttons: ‘Action’ or ‘Status quo’.
    </p>
    <p>
        {% if player.role == 'Expert' %}
            Your payoff in each trial, will be a gain of 1 if the {{ other_role }} chose Action, and 0 otherwise.
            The {{ other_role }} will receive the outcome of his/her choice.
        {% else %}
            Your payoff in each trial, is the outcome of your choice.
            The {{ other_role }} will gain of 1 if you choose Action, and 0 otherwise.
        {% endif %}
    </p>
    <p>
        {% if player.role == 'Expert' %}
            The {{ other_role }} will not have prior information about the probability of Event E<sub>t</sub>.
            You, the {{ player.role }}, will have some information, and your main goal is to send an estimate of this probability
            to the {{ other_role }}.
        {% else %}
            You will not have prior information about the probability of Event E<sub>t</sub>.
            The {{ other_role }} will have some information, and will send you an estimate of this probability.
        {% endif %}
    </p>
    <p>
        You have to be quick. You will have {{ Constants.seconds_wait_first_rounds }}
        seconds to respond in the first {{ Constants.num_rounds_long_wait }} trials,
        and {{ Constants.seconds_wait }} seconds for the following trials.

        {% if player.role == 'Expert' %}
            If you are not not meet these deadlines, your estimate will not be transferred,
            and your payoff for the trial will be 0.
        {% else %}
            If you are not meet these deadlines, one of the option will be chosen randomly.
            If the {{ other_role }} is too slow, you will receive a question mark (?) instead of an estimate.
        {% endif %}
    </p>
    <h5>Risks and benefits:</h5>
        <p>
            There is no risk. Your benefit is contributing to a research project.
        </p>

    <h5> Compensation: </h5>
        <p>
            You will get {{ participation_fee }} for your participation.
            At the end of the experiment, the accumulated points will set your probability
            to get a bonus of ${{ Constants.bonus }}.
        </p>
        <p>
            Your goal is to maximize your earnings.
        </p>
        <p>
            {% if player.role == 'Decision Maker' %}
                You will get {{ initial_points_dc }} points at the beginning of the experiment.
            {% endif %}
        </p>


    <h5>Voluntary participation and right to withdraw:</h5>
        <p>
            Participation in this study is voluntary, and you can stop at any time without any penalty.
            To stop, click on the “Return HIT” button, or close your browser window.
        </p>

    <h5> Contact information: </h5>
        <p>
            If you have any concerns or questions about this research,
            you may contact: Reut Apel at reutapel@campus.technion.ac.il.
        </p>

        <h5>Have Fun!</h5>

    </div>
</div>

    <h5>
            Clicking accept
    </h5>
        <p>
           By clicking on the “I agree” button, you indicate that you voluntarily agree to participate in this experiment
            and that you understand the information in this form.
        </p>
    <div>
        <button class="btn btn-primary btn-large" name="receiver_choice" value="True">I agree! Let's start!</button>
    </div>


{% endblock %}