{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Expert Choice for round {{ round_number }}
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h5>
        The Action option in round {{ round_number }}, based on the following spinner is
    </h5>
        <p>
            gain of {{ x }} if the color red is sampled
        </p>
        <p>
            and lose of {{ y }} if the color yellow is sampled.
        </p>
        <img src="{% static image_path %}" width="30%" height="30%"/>


    </div>
</div>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}


{% endblock %}