{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
body {
    font-family: Arial;
    color: black;
}

div {
  word-wrap: normal;
}

button {
    word-wrap: normal;
}

</style>
{% endblock %}

{% block content %}

<div class="card bg-light instructions">
    <div class="card-body">
            {% if participant_filed %}
                <p>Based on your answer in the text box on the previous page, you have not read the instruction,
                    therefore you are not allowed to complete this HIT.</p>
                    <p>You will be automatically moved to the next page so your partner will be able to finish the HIT as well.
                    Please return the HIT to prevent rejection.</p>
            {% elif partner_filed %}
                <p>You answered correctly in the text box on the previous page, but your partner was failed to do so.
                Therefore you are unable to complete this HIT.</p>
                <p>You will be automatically moved to the next page.</p>
            {% endif %}
    </div>
</div>

    {% next_button %}

{% endblock %}
